body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
form {
    max-width: 400px;
    height: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
label {
    font-weight: bold;
}
.error {
    color: red;
    font-size: 0.9em;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.success {
    color: green;
    font-size: 1em;
}

